<a href="https://colab.research.google.com/github/mejoryoonginista/EAS1/blob/main/Copia_de_Python_R_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://i.imgur.com/6U6q5jQ.png"/>


<a target="_blank" href="https://colab.research.google.com/github/PythonVersusR/basicDataStructures_sets/blob/main/Python_R_Sets.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Sets in Python

In [1]:
%load_ext rpy2.ipython

## 1. Creating

In [2]:
aSet={1,6,2,3,10,10,10,5}

# then
aSet

{1, 2, 3, 5, 6, 10}

Notice that **sets** do not allow duplicates, and show ordering of values.

## 2. Accessing

You can not use indexes in sets.

In [3]:
aSet[1] #this is an error

TypeError: 'set' object is not subscriptable

In [4]:
#you would need a list:

list(aSet)[2] #third position

3

## 2. Replacing

You would need to rewrite or delete/add an element:

In [5]:
# rewriting
bSet={10,50,33,14}
bSet=set(x**2 for x in bSet) #elements' root squared
bSet

{100, 196, 1089, 2500}

In [6]:
cSet={'x','y','my'}
cSet.remove('my')
cSet.add('z')
cSet

{'x', 'y', 'z'}

## 3. Deleting

In [7]:
dSet={1,2,3,'a','b','c'}
dSet.remove('d') #will not work

KeyError: 'd'

In [8]:
dSet={1,22,13,'a','b','c'}
dSet.discard('b')
dSet

{1, 13, 22, 'a', 'c'}

In [9]:
dSet={1,22,13,'m','n','ñ'}
toDelete = [22,13,'n']

# keep what is not in toDelete
dSet.difference_update(toDelete)
dSet

{1, 'm', 'ñ'}

Notice the diference for deleting a set:

In [10]:
dSet.clear()
dSet #empty the set

set()

In [11]:
del cSet
dSet #get rid of set

set()

## 5. Inserting

In [12]:
eSet={'hoy','mañana','pasado mañana'}
eSet.update(('en tres días'))
eSet

{' ', 'a', 'd', 'e', 'hoy', 'mañana', 'n', 'pasado mañana', 'r', 's', 't', 'í'}

In [13]:
eSet={'hoy','mañana','pasado mañana'}
eSet.update(('en tres días','en cuatro días'))
eSet

{'en cuatro días', 'en tres días', 'hoy', 'mañana', 'pasado mañana'}

## Other operations

If we have these sets:

In [14]:
set1={'w','x','y','z'}
set2={1,2,3,4}
set3={'w',2,3,'z'}

We could use:

In [15]:
# union
set4=set1|set2
set4

{1, 2, 3, 4, 'w', 'x', 'y', 'z'}

In [16]:
#intersection
set5=set1&set3
set5

{'w', 'z'}

In [17]:
# difference:
# set of all the elements to the left that are not present in the right
set6=set2-set3
set6

{1, 4}

In [18]:
# symmetric difference
# set of elements that are either in the first set or the second set
# but not in both.

set7=set2^set3
set7

{1, 4, 'w', 'z'}

# Sets in R

R does not have a set data structure, but it has _set_ operations for vectors:

In [19]:
%%R

set1R=c('m','n','ñ','o')
set2R=c(1,2,3,4)
set3R=c('m',2,3,'o')

In [20]:
%%R

union(set1R,set2R)

[1] "m" "n" "ñ" "o" "1" "2" "3" "4"

In [21]:
%%R

intersect(set1R,set3R)

[1] "m" "o"

In [22]:
%%R

setdiff(set2R,set3R)

[1] 1 4

In [23]:
%%R

#simmetric difference
setdiff(union(set2R,set3R),intersect(set2R,set3R))

[1] "1" "4" "m" "o"

Notice set operations in R:

In [24]:
%%R

set1R=c('a','b','c','d','d') #not a set
set2R=c(1,2,3,4,4)#not a set
union(set1R,set2R) #result is a set

[1] "a" "b" "c" "d" "1" "2" "3" "4"